@model Univer.Models.Instructor

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Преподаватель</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label">ФИО</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="photo" class="control-label">Фото</label>
                <input id="photo" type="file" name="uploadFile" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="name" class="control-label">Группа</label>
                @Html.DropDownList("name", ViewBag.Group as SelectList, " ", new { @class = "form-control" })
                <!-- <span asp-validation-for="Group" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label for="list[]" class="control-label">Курсы</label>
                @Html.DropDownList("list[]", ViewBag.Courses as SelectList, new { @class = "form-control", multiple=true, size=3 })
                <!-- <select asp-for="Group" class="form-control" asp-items="ViewBag.Group"></select> -->
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
