@model Univer.Models.Group

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Группа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Группа</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Год</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuratorId" class="control-label">Куратор</label>
                @Html.DropDownListFor(x => x.CuratorId, ViewBag.Curator as SelectList, " ", new { @class = "form-control" })
                <!-- <select asp-for="CuratorId" class="form-control" asp-items="ViewBag.Curator"></select> -->
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Курс</label>
                @Html.DropDownListFor(x => x.CourseId, ViewBag.Course as IEnumerable<SelectListItem>, "Выберите значение из списка", new { @class = "form-control" })
                <!-- <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Course"></select> -->
            </div>
            <div class="form-group">
                <label asp-for="SpecialId" class="control-label">Предметы</label>
                <select asp-for="SpecialId" class="form-control" asp-items="ViewBag.Special"></select>
            </div>
            <div class="form-group">
                <label for="list[]" class="control-label">Студенты</label>
                @Html.DropDownList("list[]", ViewBag.Students as SelectList, new { @class = "form-control", multiple=true, size=3, id="list[]" })
                <!-- <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Course"></select> -->
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
